body {background-color: pink;}
ul{
    list-style-type: none;
    margin: 1;
    padding: 8;
    overflow: hidden;
    width: 100%;
}
li{
    float: left;
}
a{
    display: block;
    padding: 8px;
    background-color: palevioletred;
}

h1{
    color: plum;
    margin-left: 550px;
}