body {background-color: #eab595; 
    list-style-type: none; /*hbfhzbsjfh*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: auto;
}

ul{ 
    list-style-type: none;
    padding: 2;
    margin: 5;
    width: 100%;
    background-color: #d87f81;
    overflow: hidden;
} /*menu opmaak*/

li{
    float: left;
}
li a {
    display: block;
    padding: 14px 16px;
    background-color: #d87f81;
    text-decoration: pink;
    text-align: center;
    color: rgb(242, 208, 208);
    
}


h1{
    text-shadow: 1px 1px 2px #ce446b, 0 0 25px #9f283e, 0 0 5px #ae6378;
    margin-left: 550px;
    color: rgb(237, 155, 155);
}
h3{
    color: #79616f;
}

p{
    color: #000000;

}

.intro {
    width: 40%;
    border: #ae6378;
    background-color: #d87f81;
    color: pink;
    font-family: 'Times New Roman', Times, serif;
    padding: 9;
    margin-left: 9;
    border-radius: 10px;
} /*de opmaak van mijn stukje over mezelf op de home pagina*/ 

.kleurmodellenuitleg {
width: 70%;
border: #d87f81;
background-color: #d87f81;
color: #79616f;
font-style: 'Times New Roman', Times, serif;
padding: 9;
margin-left: 9;
border-radius: 10px;
}

img{ 
    max-width: 20%;
    height: 20%;
} /*de grootte van mijn plaatjes*/

li a:hover{ 
    background-color: #9f283e;/*als je met je muis op menu gaat ktijgt het kleur*/
}





