body {background-color: pink;}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
li{
    float: left;
}
a{
    display: block;
    padding: 14px 16px;
    background-color: palevioletred;
    text-decoration: pink;
    text-align: center;
    
}

.active{
    background-color: plum;
}

h1{
    color: palevioletred;
    margin-left: 550px;
}

p{
    color: black;
}